.helpWrapper{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}
ol li {
	list-style: none;
}
.article__div{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	@media screen and (min-width: 700px) {
		justify-content:center
	}
}
.passwords__subtitle{
	& > * {
		border-bottom: 1px solid black;
		&:last-child{
			border:none;
		}
	}
}
.article__subtitle{
	.name{
		display: block;
		text-decoration: underline;
	}
// 	div{
// 		display: inline-block;
// 	}
	input{
		outline:none;
		border: none;
		font-size: 1.3rem;
		width: 200px;
	}
}

.login-and-pass {
	//display: block;
	//text-align: center;
	img{
		display: inline-block;
	}
}
	@media screen and (min-width: 700px) {
		 .login-and-pass {
		 	//display: block;
		 	//text-align: center;
			 img{
				 display: inline-block;
				 //max-width: 100vw;
			 }
		 }
		.helpWrapper {
			// display: grid;
			// align-items: flex-start;
			// grid-template-columns: 1fr 1fr;
			// column-gap: 100px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}
	
.wrapper{
	// display: block;
	margin: 0 auto;
	max-width: 1400px;
}
// .article__title {
// 	margin: 20px;
// }
.article__heading{
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;
}
// .login-and-pass{
// 	border-bottom: 1px solid black;
// 	max-width: 300px;
// 	&:last-child{
// 		border: nonde;
// 	}
// }
