header {
  z-index: 9999;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: var(--main-bg-color2);
  nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
  }

  a, a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  a:hover {
    color: var(--main-bg-color);
  }
  .header__activePage{
    display: none;
    color: #fff;
  }

}

@media screen and (max-width: 890px) {
  header {
    .menu__btn{
      display: flex;
      /* используем flex для центрирования содержимого */
      align-items: center;
      /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    .menu__btn2 {
      display: flex;
      /* используем flex для центрирования содержимого */
      align-items: center;
      /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after,
    .menu__btn2>span,
    .menu__btn2>span::before,
    .menu__btn2>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    .menu__btn>span::before,
    .menu__btn2>span::before {
      content: '';
      top: -8px;
    }

    .menu__btn>span::after,
    .menu__btn2>span::after {
      content: '';
      top: 8px;
    }

    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 80px;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 20px 0;
      list-style: none;
      text-align: center;
      background-color: #60cfff;
      div{
        margin-bottom: 20px
      }
    }

    /* элементы меню */
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }
    #menu__toggle:checked~.menu__btn>span,
    #menu__toggle2:checked~.menu__btn2>span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before,
    #menu__toggle2:checked~.menu__btn2>span::before,

    {
      top: 0;
      transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after,
    #menu__toggle2:checked~.menu__btn2>span::after,
    {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box,
    {
      visibility: visible;
      left: 0;
    }

    .header__activePage{
      color: #fff;
      display: flex;
      letter-spacing: 1px;
      font-family: "Roboto", sans-serif;
      justify-content: center;
      padding-top: 25px;
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    .menu__btn {
      display: flex;
      /* используем flex для центрирования содержимого */
      align-items: center;
      /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}