// @import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body{
  background: rgb(253, 253, 253);
}
details {
  cursor: pointer;

  summary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    display: block;
    color: #437fa1;
    &:hover {
      color: #133f58;
    }
    &::after {
      content: "";
    }
    &::after {
      position: relative;
      top: 5px;
      content: url("../src/assets/chevron-right.svg");
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
}

details[open] > summary::after {
  content: url("../src/assets/chevron-down.svg");
}
details summary {
  cursor: pointer;
  transition: margin 250ms ease-out;
}
details[open] summary {
  margin-bottom: 10px;
}

// details[open] summary::before {
//   content: "";
// }

ol {
  li {
    &::marker{
      color: rgba(99, 36, 116, 0.86);
      font-weight: 600;
    }
    // border-bottom: 1px solid #5F5F5FFF;
    // list-style: none;

    &:last-child {
      // border: none;
    }
  }
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  font-family: "Roboto", sans-serif;
  --main-bg-color: #4274e9;
  --main-bg-color2: #2e358f; //header
  --main-bg-color3: #326889; //sidebar's
  --main-bg-color4: #fff; //
  --main-bg-color5: #17763d; //spoiler
  //color: white;

  ol {
    margin: 0;
    padding: 0;
    max-width: 1000px;
  }

  img {
    max-width: 100%;
  }
}

p {
  padding: 0;
  margin: 0;
}

.tableOfList__link {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    cursor: pointer;
  }
}

.main {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

.article {
  margin: 10px;

  &__title {
    // color: #fff;
    //border-bottom: 1px solid #5f5f5f;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    padding: 1.5rem;
    background: linear-gradient(271.77deg, #712980 26.92%, #2e357f 95.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &:hover {
      padding: 1.5rem;
    }
  }

  &__div {
    border-radius: 0 0 20px 20px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (min-width: 700px) {
      justify-content: flex-start;
    }
  }

  &__subtitle {
    .name {
      display: block;
      text-decoration: underline;
    }

    input {
      outline: none;
      border: none;
      font-size: 1.3rem;
      width: 200px;
    }

    .sublist {
      padding-left: 2rem;
    }

    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    padding: 1rem 0.5rem 1rem 0rem;
    margin-left: 3rem;
    line-height: 2.5rem;
    letter-spacing: 0.03rem;

    .bold {
      font-weight: 500;
      word-wrap: break-word;
    }

    ol,
    ul {
      font-family: "Roboto", sans-serif;

      li {
        &::marker{
          font-weight: 400;
        }
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        padding: 1rem 0.5rem 1rem 0;
        letter-spacing: 0.03rem;
        line-height: 1.5rem;
      }
    }

    p {
      display: inline;
      font-weight: 600;
      color: #4e4e4e;
      background: linear-gradient(150.77deg, #712980 26.92%, #2e357f 95.16%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      &:hover {
        color: #133f58;
      }
    }
  }

  @media screen and (max-width: 890px) {
    margin: 0;
    padding: 0;
  }
}

// below table-of-list styles

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;

  display: grid;
  grid-template-columns: 1fr 360px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "first two";
}
.first {
  grid-area: first;
}

.two {
  grid-area: two;
}

.table-of-list {
  min-width: 300px;
  margin: 0;
  box-sizing: border-box;

  ul {
    height: calc(100vh - 80px);
    overflow-y: scroll;
    position: sticky;
    margin: 0;
    top: 80px;
    padding: 0 0 0 20px;
    list-style: none;

    li {
      text-transform: lowercase;
      margin: 20px;
      padding-left: 10px;
      //a{
      //  color: #fff;
      //
      //  &:visited{
      //    color: #fff;
      //  }
      //  &:hover {
      //    color: #e37231;
      //  }
      //}

      &:hover {
        border-left: 1px solid var(--main-bg-color3);
      }

      a:hover {
        color: var(--main-bg-color3);
      }
    }
  }
}

div:target > div {
  animation: highlight 0.8s ease-out;
}

@keyframes highlight {
  0% {
    background-color: #ffff66;
  }

  100% {
    background-color: #ffffff;
  }
}

//#ssz-check,
//#unloading,
//#unloading__from-external,
//#unloading__storno,
//#unloading__asutl,
//#unloading__zhd-request,
//#unloading__activate,
//#unloading__create-new-task,
//#unloading__find-sheets,
//#unloading__move-sheets,
//#unloading__letter-report,
//#unloading__ex-filter,
//#unloading__auto-unloading,
//#unloading__sklad-3037,
//#unloading__issuance-of-cards,
//#unloading__order-of-sheets,
//#unloading__sheet-order,
//#unloading__unloading-sklad-l027,
//#recertification,
//#production__sheet,
//#add-cards,
//#comeback__sheet,
//#add__sheet__in__start,
//#check__cast__test {
//  border-top: 80px solid transparent;
//  margin-top: -80px;
//  padding: 15px;
//  /* паддинги - без проблем */
//  -moz-background-clip: padding;
//  -webkit-background-clip: padding-box;
//  background-clip: padding-box;
//  @media screen and (max-width: 890px) {
//    margin: -80px 0 0 0;
//    padding: 0;
//  }
//}

@media screen and (max-width: 425px) {
  .wrapper {
    display: block;
  }

  .table-of-list {
    display: block;
    position: fixed;
    // visibility: hidden;
    top: 0;
    right: -80%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    ul {
      height: auto;
      li {
        &:hover {
          border-left: 1px solid var(--main-bg-color4);
        }
        div:hover {
          color: var(--main-bg-color4);
        }
      }
    }
  }
  .main {
    max-width: 425px;
  }
  .article {
    padding-right: 0;

    &__title {
      font-size: 1.3rem;
    }

    &__subtitle {
      font-size: 1rem;
      margin-left: 2rem;
    }
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  }

  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

@media screen and (max-width: 890px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .table-of-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    /* From https://css.glass */
    background: rgba(99, 36, 116, 0.86);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(99, 36, 116, 0.97);

    .tableOfList__link {
      color: white;
    }
    ul {
      height: auto;
      overflow-y: hidden;
      li {
        text-align: left;
        &:hover {
          border-left: 1px solid var(--main-bg-color4);
        }
        a:hover {
          color: var(--main-bg-color4);
        }
      }
    }
  }

  .article {
    padding-right: 0;
    //&__subtitle {
    //  p:hover{
    //    color: #e37231;
    //  }
    //}
  }
}

@media print {

  .article__title {
    -webkit-text-fill-color: black}


  header,
  .table-of-list {
    display: none;
  }
  .sublist {
    max-height: none;
    overflow: auto;
    transition: all 0.5s ease-out;
  }

}

@media screen and (max-width: 700px) {
  ol {
    max-width: 100%;
  }
  * {
    img {
      display: inline-block;
      //width: 100vw;
    }
  }
}